[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
altgraph = "*"
bcrypt = "*"
bdist-mpkg = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
cryptography = "*"
dnslib = "*"
dnspython = "*"
Flask = "*"
future = "*"
idna = "*"
impacket = "*"
importlib-metadata = "*"
itsdangerous = "*"
Jinja2 = "*"
ldap3 = "*"
ldapdomaindump = "*"
macholib = "*"
MarkupSafe = "*"
modulegraph = "*"
paramiko = "*"
progress = "*"
py2app = "*"
pyasn1 = "*"
pycparser = "*"
pycryptodomex = "*"
pyftpdlib = "*"
PyNaCl = "*"
pyOpenSSL = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scapy = "*"
six = "*"
urllib3 = "*"
Werkzeug = "*"
zipp = "*"

[requires]
python_version = "3"
