[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bdist_mpkg = "*"
chardet = "*"
dnslib = "*"
impacket = "*"
importlib-metadata = "*"
paramiko = "*"
progress = "*"
py2app = "*"
pyftpdlib = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scapy = "*"

[requires]
python_version = "3"
